nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(18, 225, 229);
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    max-width: 100%;
    min-width: 100%;
    }
  
 
  
  .navLinks {
    display: flex;
    align-items: center;
  }
  
  nav .navLinks .links {
    display: flex;
    gap: 40px;
}

nav .navLinks {
  display: flex
;
  justify-content: center;
  align-items: center;
  padding-right: 400px;
}
  
nav .navLinks .links a {
  position: relative;
  text-decoration: none;
  color: #000; 
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px; 
  font-family: sans-serif;
  font-size: 20px;
}
.navLinks .links a:hover {
  background-color: #ff6347;
  color: #fff; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
}
  nav .logo1 {
    flex: -1;
    display: flex
;
    align-items: center;
    font-size: 2rem;
    height: 100px;
    width: 150px;
}
  .links a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width 0.3s ease;
  }
  
  .links a:hover::after {
    width: 100%;
  }
    .hamburger {
    display: none;
    color: #fff;
    font-size: 1.8rem;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    nav {
      padding: 15px 30px;
    }
  
    .hamburger {
      display: block;
    }
  
    .navLinks {
      position: fixed;
      top: 0;
      right: -100%;
      width: 70%;
      height: 100vh;
      background: rgba(218, 244, 237, 0.596);      backdrop-filter: blur(10px);
      flex-direction: column;
      justify-content: center;
      transition: 0.5s ease;
    }
  
    .showmenu {
      right: 0;
    }
  
    .links {
      flex-direction: column;
      align-items: center;
      gap: 3rem;
    }
  
    .links a {
      font-size: 1.2rem;
    }
  
    .logo {
      font-size: 2rem;
    }
    
  }
 